@media (max-width: 480px){

    .gridContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(.25fr .50fr 1fr);
        row-gap: 5px;
        grid-template-areas: 
            "hd hd hd"
            "nv nv nv"
            "card1 card1 card1"
            "card2 card2 card2"
            "card3 card3 card3"
            "ft ft ft";
    }

    .header{
        text-align: center;
        background-color: #FFE4E1;
        font-size: 15px;
        font-weight: bold;
        grid-area: hd;
    }

    body{
        background-color: #FFFAFA;
        /* padding: 50px; */
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
    }

    /*Nav bar*/ 
    .navbar{
        padding-block: 5px;
        background-color: white;
        text-align: center;
        grid-area: nv;
    }

    li {
        display: inline;
        padding: 15px; 
    }

    button {
        background-color: white; 
        text-align: center;
        display: inline-block;
        font-size: 16px;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 4px;
    }

    button:hover {
        background-color: #BC8F8F;
    }

    .card1 {
        background-color: #BC8F8F;
        padding: 20px;
        grid-area: card1; 
        object-fit: contain; 

    }
    .card2 {
        background-color: #FFE4E1;
        padding: 20px;
        grid-area: card2; 
        object-fit: contain; 
    }

    .card3{
        background-color: #BC8F8F;
        padding: 20px;
        grid-area: card3; 
        object-fit: contain; 
    }

    .cardLayout {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .cardImage {
        height: 65px;
        width: auto; 
        grid-area: ci;
        padding-right: 15px;
    }

    .cardText {
        align-content: center;
        width: 3fr;
    }

    .footer {
        grid-area: ft; 
    }

    .blogPost {
        grid-area:card1;
    }

    a:visited { 
        text-decoration: none; 
        color: black;
    }
}